* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Poppins, Helvetica, sans-serif;
	line-height: 1.5;

	--primary-text-color: #000;
	--secondary-text-color: #5c5c62;
	--white-color: #fff;
	--durability-text-color: #3838389c;
	--icon-color: #131313;
	--border-color: var(--text-decoration-color);
	--text-decoration-color: #000;

	/* 4px */
	--space-1: .25rem;
	/* 8px */
	--space-2: .5rem;
	/* 12px */
	--space-3: .75rem;
	/* 16px */
	--space-4: 1rem;
	/* 30px */
	--space-7: 1.875rem;
}

.fh {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	font-weight: 600;
	font-size: clamp(1.25rem, 3vw, 1.5rem);
}

.title--filled {
	background-color: var(--primary-text-color);
	color: var(--white-color);
	padding: var(--space-1) var(--space-2);
}

.title--underlined::after {
	content: "";
	margin-top: var(--space-1);
	display: block;
	height: 2px;
	width: 5ch;
	background-color: var(--text-decoration-color);
}

.title--spacing-sm {
	margin-bottom: var(--space-2);
}

.title--spacing-md {
	margin-bottom: var(--space-4);
}

.resume {
	margin: 50px auto;
	border: 1px solid #f5f5f5;
	box-shadow: 1px 1px 7px 7px #f5f5f5;
	padding: var(--space-4);
	max-width: 900px;
}

.resume-inner {
	border: 3px solid var(--border-color);
	padding-block: var(--space-7) .75rem;
	padding-inline: 2rem;
}

@media (width > 570px) {
	.resume {
		padding: var(--space-7);
	}

	.resume-inner {
		padding-inline: 3rem;
	}
}

.section-underlined {
	padding-bottom: var(--space-4);
	border-bottom: 3px solid var(--border-color);
}

.resume__link {
	color: var(--primary-text-color);
	text-decoration: none;
	transition: color .2s;
}

.resume__link:hover {
	color: var(--secondary-text-color);
}

.resume__link>i {
	font-size: .75rem;
}

.badge {
	background-color: var(--text-decoration-color);
	color: var(--white-color);
	width: fit-content;
	padding: .25rem .75rem;
	border-radius: .25rem;
}

.badge__list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-1);
}

.badge--scale {
	transition: scale .2s ease-in;
}

.badge--scale:hover {
	scale: 1.2;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: var(--space-4);
}

.header__title {
	font-size: clamp(1rem, 5.5vw, 3rem);
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: var(--space-4);
}

.header__subtitle {
	max-width: fit-content;
	font-size: clamp(.25rem, 2.5vw, 1.25rem);
	letter-spacing: 3px;
	text-transform: uppercase;
}

.header__image {
	order: -1;
	max-width: 220px;
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: top;
}

.about {
	margin-top: var(--space-3);
}

.body-wrapper {
	margin-top: var(--space-4);
}

.body__aside {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
}

.body__main {
	margin-top: var(--space-4);
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
}

.body__divider {
	display: none;
}

.contacts__content:not(:last-child) {
	margin-bottom: var(--space-1);
}

.timeline__content,
.education__content {
	display: grid;
	gap: var(--space-2);
}

.timeline__scope-text {
	color: var(--secondary-text-color);
}

.timeline__scope-year {
	font-weight: 600;
}

.education__item-title a {
	color: var(--primary-text-color);
	text-decoration: none;

	transition: color .2s;
}

.education__item-title a:hover {
	color: var(--secondary-text-color);
}

.education__item-title i {
	font-size: 1rem;
}

.education__item-description {
	color: var(--secondary-text-color);
}

.education__item-period {
	font-weight: 600;
}

@media (width > 670px) {
	.header {
		flex-direction: row;
		text-align: left;
		align-items: start;
		justify-content: space-between;
	}

	.header__image {
		order: 1;
	}

	.about {
		margin-top: -1.5rem;
	}
}

@media screen and (max-width: 576px) {

	.main-info,
	.contact_info_container {
		flex-direction: column;
	}

	.contact_info_container {
		align-items: center;
	}

	.contact-info__block:not(:last-child) {
		margin-bottom: 20px;
	}

	.experiences {
		margin-right: 0;
	}
}

.contact-info__header,
.contact-info__sub-header {
	text-align: center;
}

.contact-info__header {
	color: var(--primary-text-color);
	margin-bottom: 15px;
	text-decoration-color: var(--text-decoration-color);
	text-decoration-line: underline;
}

.contact-info__sub-header {
	color: var(--secondary-text-color);
	margin-bottom: 30px;
}

.contact-info__block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contact-info__block--center {
	justify-content: center;
}

.contact-info__item {
	color: var(--secondary-text-color);
	text-decoration: none;
	display: flex;
	justify-content: start;
}

.contact-info__item:not(:last-child) {
	margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
	margin-right: 10px;
	width: 20px;
	display: flex;
	justify-content: center;
}

.contact-info__item-icon path {
	fill: var(--icon-color);
}

.contact-info__item-icon {
	height: 1.1428rem;
	vertical-align: text-bottom;
}

.contact-info__avatar {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 3px solid;
	border-color: var(--text-decoration-color);
}

.intro {
	display: flex;
	justify-content: start;
}

.intro__icon-wrapper {
	margin-right: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
}

.intro__icon {
	height: 1.1428rem;
	vertical-align: text-bottom;
}

.intro__icon path {
	fill: var(--text-decoration-color);
}

.intro_text {
	color: var(--secondary-text-color);
	text-align: justify;
}

.skills__header {
	color: var(--secondary-text-color);
	text-align: center;
	margin-bottom: 15px;
}

.skills__text {
	color: var(--secondary-text-color);
	text-align: justify;
}

.experiences {
	flex: 1 1 60%;
	margin-right: 50px;
}

.experiences__header {
	color: var(--secondary-text-color);
	text-align: left;
	margin-bottom: 20px;
}

.experiences__company-header-durability {
	color: var(--durability-text-color);
	text-align: left;
	margin-bottom: 10px;
	font-size: 15px;
}

.experiences__company-header-name {
	color: var(--primary-text-color);
	text-decoration-color: var(--text-decoration-color);
	text-decoration-line: underline;
	text-align: left;
	margin-bottom: 20px;
}

.experiences__company-project {
	margin-left: 15px;
	margin-bottom: 25px;
}

.experiences__company-project-role {
	color: var(--durability-text-color);
	text-align: left;
	margin-bottom: 10px;
	font-size: 15px;
}

.experiences__company-project-name {
	color: var(--primary-text-color);
	text-align: left;
	margin-bottom: 10px;
}

.experiences__company-project-responsibilities {
	color: var(--secondary-text-color);
	padding-left: 20px;
}

.additional-info {
	flex: 1 1 40%;
}

.additional-info__education {
	margin-bottom: 20px;
}

.additional-info__education-header {
	color: var(--secondary-text-color);
	text-align: left;
	margin-bottom: 20px;
}

.additional-info__education-university-durability {
	color: var(--durability-text-color);
	text-align: left;
	margin-bottom: 10px;
	font-size: 15px;
}

.additional-info__education-university-speciality {
	color: var(--primary-text-color);
	text-align: left;
	margin-bottom: 10px;
}

.additional-info__education-university-name {
	color: var(--secondary-text-color);
}

.additional-info__languages {
	margin-bottom: 20px;
}

.additional-info__languages-header {
	color: var(--secondary-text-color);
	text-align: left;
	margin-bottom: 20px;
}

.additional-info__languages-item {
	color: var(--secondary-text-color);
}